.button-primary {
    text-decoration: none;
    color: $quick-silver;
    background-color: $white;
    font-family: $roboto;
    font-weight: $regular;
    border-radius: 0;
    border: 1px solid $quick-silver;
    &:hover {
        border-color: $black;
        color: $black;
    }
}

.button-primary-check:focus + .button-primary, 
.button-primary:focus {
    color: $outer-space;
    border-color: $quick-silver;
    box-shadow: 0 0 0 0.25rem $isabelline;
}

.button-primary-check:checked + .button-primary, 
.button-primary-check:active + .button-primary, 
.button-primary:active, .button-primary.active, 
.show > .button-primary.dropdown-toggle {
    color: $isabelline;
    background-color: $quick-silver;
    border-color: $outer-space;
}

.button-primary-check:checked + .button-primary:focus, 
.button-primary-check:active + .button-primary:focus, 
.button-primary:active:focus, .button-primary.active:focus, 
.show > .button-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem $isabelline;
}

.button-secondary {
    text-decoration: none;
    color: $white;
    background-color: $shiny-shamrock;
    font-family: $roboto;
    font-weight: $regular;
    border-radius: 0;
    border: 1px solid $shiny-shamrock;
    &:hover {
        color: $outer-space;
        background-color: $turquoise-green;
        border-color: $turquoise-green;
    }
}

.button-secondary-check:focus + .button-secondary, 
.button-secondary:focus {
    color: $quick-silver;
    background-color: $pastel-gray;
    border-color: $turquoise-green;
    box-shadow: 0 0 0 0.25rem $turquoise-green;
}

.button-secondary-check:checked + .button-secondary, 
.button-secondary-check:active + .button-secondary, 
.button-secondary:active, 
.button-secondary.active, 
.show > .button-secondary.dropdown-toggle {
    color: $outer-space;
    background-color: $turquoise-green;
    border-color: $shiny-shamrock;
}

.button-secondary-check:checked + .button-secondary:focus, 
.button-secondary-check:active + .button-secondary:focus, 
.button-secondary:active:focus, 
.button-secondary.active:focus, 
.show > .button-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem $turquoise-green;
}

@media (min-width: 768px) {
    .button-primary {
        padding: 0.313rem 3.063rem 0.438rem 0.375rem;
    }

    .button-secondary {
        padding: 0.313rem 2.375rem 0.438rem 0.5rem;
    }
}