.secondary-img {
    position: relative;
    background-image: url(../img/img-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    float: right;
    height: 37.5%;
    width: 29.7657%;
}
#coffee-beans {
    background-image: url(../img/img-3.png);
    background-size: cover;
    background-position-x: 50%;
    height: 165px;
    width: 96px;
    position: relative;
    right: 57px;
}