@media (max-width: 1024px) {
    //Partial _responsive-main.scss
    .responsive-main {
        box-sizing: border-box;
        padding-top: 6rem;
        height: fit-content;
        width: 100vw;
    }

    //Partial _main-img.scss
    .main-img {
        position: relative;
        background-position: 20% 0%;
        float: left;
        height: 50vh;
        width: 100%;
        h2 {
            font-size: 40px;
        }
        p {
            font-size: 16px;
        }
    }
    #info {
        height: 136px;
        width:  60%;
        padding: 1.1rem 2rem;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    #middle-child {
        max-width: none;
    }

    //Partial _main-title.scss
    .main-title {
        position: relative;
        float: left;
        height: 50vh;
        width: 40%;
        padding-top: 3.75%;
        padding-left: 5.547%;
        h1 {
            font-size: 65px;
        }
    }
    
    #yellow-shadow {
        left: 71%;
        z-index: 2;
    }
    
    #orange-arrow {
        left: 65%;
        z-index: 3;
    }

    //Partial _secondary-img.scss
    .secondary-img {
        height: 50vh;
        width: 60%;
    }
    #coffee-beans {
        height: 43%;
        width: 15%;
        position: relative;
        right: 8%;
    }

    //Partial _location.scss
    .location {
        height: 35vh;
        width: 100%;        
    }

    #us {
        padding-left: 5.547%;
        h2 {
            font-size: 25px;
        }
    }
    
    #blue-shadow {
        background-color: $blue-de-france;
        height: 75%;
        width: 52.169%;
        position: relative;
        bottom: 79.54545%;
        left: 47.831%;
        z-index: -2;
    }
    
    #location-map {
        height: 70%;
    }
}

@media (max-width: 768px) {
    //Partial _responsive-main.scss
    .responsive-main {
        padding-top: 4rem;
    }
    //Partial _navbar.scss
    .navbar {
        height: 4rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    
    #img-logo {
        max-height: 3rem;
    }

    //Partial _main-img.scss
    .main-img {
        height: 45vh;
        h2 {
            font-size: 25px;
        }
        p {
            font-size: 12px;
        }
    }
    #info {
        height: 100px;
        width:  100%;
    }

    //Partial _main-title.scss
    .main-title {
        height: 35vh;
        width: 50%;
        padding-top: 3.75%;
        padding-left: 5.547%;
        h1 {
            font-size: 40px;
        }
        h3 {
            font-size: 16px;
        }
    }
    
    #yellow-shadow {
        height: 80px;
        width: 80px;
        left: 79%;
    }
    
    #orange-arrow {
        height: 80px;
        width: 80px;
        left: 74%;
        font-size: 2rem;
    }

    //Partial _secondary-img.scss
    .secondary-img {
        height: 35vh;
        width: 50%;
    }
    #coffee-beans {
        width: 25%;
        right: 0;
    }

    //Partial _location.scss
    .location {
        height: 35vh;
        width: 100%;        
    }

    #us {
        padding-left: 5.547%;
        h2 {
            font-size: 18px;
        }
        p {
            font-size: 12px;
        }
    }
    
    #blue-shadow {
        width: 50%;
    }
    
    #location-map {
        height: 50%;
    }
}